&nbsp;
<div class="container-fluid">
<h1>Usuarios  <span><button type="button" class="btn btn-primary" [routerLink]="['/usuario/formUsuario']"><fa-icon [icon]="faCirclePlus" size="lg"></fa-icon>&nbsp;&nbsp;Nuevo usuario</button></span> </h1>  

  <mat-form-field>
    <mat-label>Filtro por Username</mat-label>
    <input matInput type="text" [(ngModel)]="filterValue"
    (input)="findByName(filterValue)" placeholder="Buscar Nombre">
</mat-form-field>

  <mat-table [dataSource]="dataSource.items" class="table table-hover table table-bordered fs-4" matSort id="userTabla">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element" class="fw-semibold"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellidos}}</td>
      </ng-container>
    
  
    <!-- Weight Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}}</td>
      </ng-container>


    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef> Edad</th>
      <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>

    <ng-container matColumnDef="ultimasesion">
      <th mat-header-cell *matHeaderCellDef> Ultima sesion </th>
      <td mat-cell *matCellDef="let element"> {{element.ultimasesion}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="operaciones"stickyEnd>
      <th mat-header-cell *matHeaderCellDef> Operaciones </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="btn-group me-2 " role="group" aria-label="Second group">
          <button type="button" class="btn btn-success rounded-pill " data-bs-toggle="modal" data-bs-target="#detallesModal" (click)="getUsuario(element.id)"><fa-icon [icon]="faMagnifyingGlassPlus" size="lg"></fa-icon></button>
          <button type="button" class="btn btn-info rounded-pill " [routerLink]="['/usuario/formUsuario']"><fa-icon [icon]="faPen" size="lg"></fa-icon></button>
          <button type="button" class="btn btn-danger rounded-pill "><fa-icon [icon]="faTrash" size="lg"></fa-icon></button>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
  <mat-paginator 
  [length]="dataSource.meta.totalItems" 
        [pageSize]="dataSource.meta.itemsPerPage" 
        [pageSizeOptions]="[5,10,25,100]"
        (page)="pageEvent = $event; onPaginateChange($event)"
        showFirstLastButtons>
</mat-paginator>

</div>
<div class="modal fade" id="detallesModal" tabindex="-1" aria-labelledby="detallesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detallesModalLabel">{{usuario.nombre}} {{usuario.apellidos}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{usuario.edad}}</li>
          <li class="list-group-item">{{usuario.telefono}}</li>
          <li class="list-group-item">{{usuario.grupo}}</li>
          <li class="list-group-item">{{usuario.ultimasesion}}</li>
          <li class="list-group-item">...</li>
        </ul>
        
        
        
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>